<h1>２２０９ちゃんねる</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @ch2209s.each do |ch2209| %>
  <tr>
    <td><%= ch2209.comment %></td>
    <%= link_to '詳細を確認する', ch2209s_path(ch2209.id) %>
  </tr>
<% end %>
</table>

<br>

<%= link_to '新しく投稿する', new_ch2209s_path %>
